h4 {
  color: inherit;
}

.left,
.center {
  float: left;
  white-space: nowrap;
}

.right {
  float: right;
  white-space: nowrap;
}

.black-title {
  color: #000;
}

/* Buttons */
.btn-primary {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-primary:hover {
  background-color: #4cae4c;
  /* Slightly darker on hover */
}

.btn-custom-primary {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #6666CC;
  background-image: -moz-linear-gradient(top, #3900CE, #6666CC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3900CE), to(#6666CC));
  background-image: -webkit-linear-gradient(top, #3900CE, #6666CC);
  background-image: -o-linear-gradient(top, #3900CE, #6666CC);
  background-image: linear-gradient(to bottom, #3900CE, #6666CC);
  background-repeat: repeat-x;
  border-color: #6666CC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3900CE', endColorstr='#6666CC', GradientType=0);
}

.btn-custom-primary:hover,
.btn-custom-primary:focus,
.btn-custom-primary:active,
.btn-custom-primary.active,
.btn-custom-primary.disabled,
.btn-custom-primary[disabled] {
  color: #FFFFFF;
  background-color: #6666CC;
}

.box {
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  padding: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
  border-top-color: #66c;
}

.login-button {
  width: 100%; /* Adjust width to fill column */
  display: block; /* Make buttons block to fill the width */
  margin-bottom: 10px; /* Space between buttons */
  text-align: center; /* Center align text */
  padding: 10px 20px; /* Padding for aesthetic spacing */
  font-size: 16px; /* Larger font size for readability */
}

.login-button img {
  margin-right: 10px; /* Space between the logo and text */
  vertical-align: middle; /* Align the image vertically to the middle */
}

.wrapper {
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: #000 justify-content: space-between;
  /* Ensures space between logo and toggle button */
  width: 100%;
  /* Full width */
  align-items: center;
  /* Centers items vertically */
}

.brand-name {
  display: inline-block;
  float: left;
}

.brand-text {
  color: #fff;
  margin-top: 15px;
  display: inline-block;
}

.brand-name>img {
  display: inline-block;
  float: left;
  padding: 1px 15px 0 0;
  max-width: 75px;
  margin-top: 6px;
}

.headbar {
  position: relative;
  /* Allows absolute positioning within */
  width: 100%;
  /* Ensures headbar is full width */
  height: 75px;
  /* Default height, adjustable */
  transition: height 0.3s ease;
  /* Smooth height transition */
  background-color: #000;
  /* Background color */
}

.topbar {
  position: absolute;
  width: 100%;
  /* Ensures topbar is full width */
  top: 100%;
  /* Positions directly below the headbar */
  left: 0;
  /* Aligns with the left edge of the headbar */
  border-top: 2px solid #66c;
}

.topbar img {
  width: 100%;
  /* Ensures the image stretches to fill the topbar */
  height: 10px
    /* Maintains aspect ratio */
}

.social-buttons {
  width: 100%;
  /* Full width to align with other elements */
  display: flex;
  justify-content: center;
  /* Centers the social buttons horizontally */
}

.socbut {
  padding: 0;
  display: flex;
  justify-content: center;
  /* Centering the list items within the social buttons */
}

.center {
  /* Adjust the width to allow three items */
  box-sizing: border-box;
  padding-left: 25px; /* Adds 20px padding to the left side */
  padding-right: 25px; /* Adds 20px padding to the right side */

}

.map {
  display: flex;
  flex-direction: row;
  /* Ensures elements are in a row */
  justify-content: center;
  /* Center align the child elements horizontally */
  align-items: flex-start;
  /* Aligns items at the start of the container vertically */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  overflow: auto;
}

.footer {
  width: 100%;
  border-top: 4px solid #66c;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: #000;
  color: #ccc;
  display: flex;
  justify-content: center;
  /* Center the footer content horizontally */
  flex-wrap: wrap;
  /* Allow the footer content to wrap */

}

a.footer-links:link,
a.footer-links:visited,
a.footer-links:active,
a.footer-links:hover {
  text-decoration: none;
  color: #ccc;
}

a.footer-links:active,
a.footer-links:hover {
  color: #fff;
}

.footer,
.social {
  width: 100%;
  /* Adjust this as needed to set the preferred width */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .map {
  width: 100%;
  /* Full width to contain the sections properly */
}

/* Form labels */
.form-group label {
  color: #555;
  /* Darker shade for better visibility */
  font-weight: bold;
  /* Makes text weight heavier */
}

/* Input fields on focus */
.form-control:focus {
  border-color: #66c;
  /* Primary color for focus */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 204, 204, 0.6);
}

/* Error messages */
.alert-danger {
  color: #d9534f;
  font-weight: bold;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.navbar-collapse.collapse {
  float: right;
  /* Ensures the links align right on large screens */
}

.navbar-nav {
  float: right;
}


.navbar-header {
  display: block;
  float: none;
}

.navbar-toggle {
  display: none;
  /* Hide toggle button by default */
  float: right;
  /* Aligns the toggle button to the right */
  margin-right: 15px;
  /* Adds some margin for spacing */
  background-color: #bbb;
  /* Light grey background */
  border: 1px solid #301934;
}

/* Style the icon bars (the three horizontal lines) */
.navbar-toggle .icon-bar {
  background-color: #333;
  /* Darker grey for the bars for visibility */
  width: 22px;
  /* Width of the bars */
  border-radius: 1px;
  /* Optional: Rounded corners for the bars */
  height: 2px;
  /* Height of the bars */
}

#navbar.collapse.in {
  height: auto;
  /* Let it expand based on content */
}


/* Ensures the text color of the links is white and makes the font bold */
.navbar-nav li a {
  color: lightgray !important;
}

/* Changes the background to a very dark gray (almost black) when hovering over the items */
.navbar-nav li a:hover,
.navbar-nav li a:focus {
  background-color: #333333 !important;
  /* Very dark gray */
  color: white !important;
}

/* Moves the navbar toggle button down */
.navbar-header .navbar-toggle {
  margin-top: 25px;
  /* Increase this value to move the button further down */
}


@media (min-width: 854px) {
  .navbar-header {
    float: right;
    /* Keep the toggle button on the right on large screens */

  }

  .nav {
    display: flex;
  }

  .nav>li {
    padding: 0 15px;
  }

  .navbar-collapse {
    display: flex !important;
    /* Always show navbar on large screens */
  }
}

/* Ensuring visibility on smaller screens */
@media (max-width: 853px) {
  .headbar .navbar-collapse.in {
    height: auto;
    /* Adjust this based on your content */
  }

  .headbar {
    height: auto;
    /* Let the headbar height adjust to the content */
    min-height: 75px;
  }

  .navbar-toggle {
    display: block;
    /* Make sure toggle is always visible on small screens */
  }
}

/* Hide the short label on larger screens */
.short-label {
  display: none;
}

/* Styles for long title on smaller screens */
.long-title {
  display: none;
  /* Hide long title on smaller screens */
}

/* Styles for short title on smaller screens */
.short-title {
  display: block;
  /* Display short title on smaller screens */
}


@media (max-width: 360px) {
  /* Styles for small phones */

  .long-label {
    display: none;
    /* Hide the long label on small screens */
  }

  .short-label {
    display: block;
    /* Show the short label on small screens */
  }

  .center {
    width: 100%;
    /* Full width on smaller screens */
    float: none;
    margin: 0 auto;
    /* Center the block horizontally */
    padding-left: 25px; /* Adds 20px padding to the left side */
    padding-right: 25px; /* Adds 20px padding to the right side */
  }

  .map {
    flex-direction: column;
    /* Stack children vertically on smaller screens */
  }

  .brand-text {
    color: #fff;
    margin-top: 20px;
    font-size: 22px;
    display: inline-block;
  }

    .col-xs-6-update {
        width: 100%;
    }

    #card-update {
        width: 100%; /* Half width on larger screens */
    }

}


@media (min-width: 360.98px) and (max-width: 375.98px) {
  /* Styles for small phones */

  .long-label {
    display: none;
    /* Hide the long label on small screens */
  }

  .short-label {
    display: block;
    /* Show the short label on small screens */
  }

  .center {
    width: 100%;
    /* Full width on smaller screens */
    float: none;
    margin: 0 auto;
    /* Center the block horizontally */
    padding-left: 25px; /* Adds 20px padding to the left side */
    padding-right: 25px; /* Adds 20px padding to the right side */
  }

  .map {
    flex-direction: column;
    /* Stack children vertically on smaller screens */
  }

  .brand-text {
    color: #fff;
    margin-top: 20px;
    font-size: 24px;
    display: inline-block;
  }

    .col-xs-6-update {
        width: 100%;
    }

    #card-update {
        width: 100%; /* Half width on larger screens */
    }

}


@media (min-width: 376px) and (max-width: 575.98px) {
  /* Styles for small phones */

  .long-label {
    display: none;
    /* Hide the long label on small screens */
  }

  .short-label {
    display: block;
    /* Show the short label on small screens */
  }

  .center {
    width: 100%;
    /* Full width on smaller screens */
    float: none;
    margin: 0 auto;
    /* Center the block horizontally */
    padding-left: 25px; /* Adds 20px padding to the left side */
    padding-right: 25px; /* Adds 20px padding to the right side */
  }


  .map {
    flex-direction: column;
    /* Stack children vertically on smaller screens */
  }

  .brand-text {
    color: #fff;
    margin-top: 20px;
    font-size: 27px;
    display: inline-block;
  }

    .col-xs-6-update {
        width: 100%;
    }

    #card-update {
        width: 100%; /* Half width on larger screens */
    }

}


@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for phones */

  .long-label {
    display: none;
    /* Hide the long label on small screens */
  }

  .short-label {
    display: block;
    /* Show the short label on small screens */
  }



  .brand-text {
    color: #fff;
    margin-top: 15px;
    font-size: 28px;
    display: inline-block;
  }

    .col-xs-6-update {
        width: 100%;
    }

    #card-update {
        width: 100%; /* Half width on larger screens */
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for iPads and phablets */

  .footer .map {
    flex-direction: row;
    /* Layout the children side by side on wider screens */
    justify-content: space-evenly;
    /* Evenly space the children */
  }

  .headbar .navbar-collapse.in {
    height: auto;
    /* Adjust this based on your content */
  }

  .headbar {
    height: auto;
    /* Let the headbar height adjust to the content */
    min-height: 75px;
  }

  .navbar-toggle {
    display: None;
    /* Make sure toggle is always visible on small screens */
  }

  .wrapper {
    margin-top: 0;
    float: left;
    display: flex;
    border-radius: 0;
    width: 100%;
    /* Full width */
    align-items: center;
    /* Centers items vertically */
  }

  .navbar-header {
    float: right;
    /* Keep the toggle button on the right on large screens */
  }

  .nav {
    display: flex;
  }

  .nav>li {
    padding: 0 10px;
  }

  .navbar-collapse {
    display: flex !important;
    /* Always show navbar on large screens */
  }

  .navbar-nav {
    float: right;
    margin-top: 20px;
    /* Adjust this value as needed to push the element down */
  }

  .brand-text {
    color: #fff;
    margin-top: 15px;
    font-size: 30px;
    display: inline-block;
  }


        #card-update {
        width: 100%; /* Ensure the container takes full width for flexibility */
    }
    
    #card-update {
        width: 50%; /* Half width on larger screens */
        float: right; /* Align the button to the right */
    }

}


@media (min-width: 992px) and (max-width: 1199.99px) {
  /* Styles for larger screens, including iPad Pro and desktops */

  .navbar-header {
    float: right;
    /* Keep the toggle button on the right on large screens */
  }

  .nav {
    display: flex;
  }

  .nav>li {
    padding: 0 10px;
  }

  .navbar-collapse {
    display: flex !important;
    /* Always show navbar on large screens */
  }


  .footer .map {
    flex-direction: row;
    /* Layout the children side by side on wider screens */
    justify-content: space-evenly;
    /* Evenly space the children */
  }

  .navbar-nav {
    float: right;
    margin-top: 20px;
    /* Adjust this value as needed to push the element down */
  }

  .brand-text {
    color: #fff;
    margin-top: 15px;
    font-size: 30px;
    display: inline-block;
  }


    #card-update {
        width: 100%; /* Ensure the container takes full width for flexibility */
    }
    
    #card-update {
        width: 50%; /* Half width on larger screens */
        float: right; /* Align the button to the right */
    }

}

@media (min-width: 1200px) {
  /* Styles for very large screens */

  /* Styles for long title */
  .long-title {
    display: block;
    /* Ensures it's always displayed */
  }

  /* Styles for short title */
  .short-title {
    display: none;
    /* Initially hidden on larger screens */
  }

  .navbar-nav {
    float: right;
    margin-top: 20px;
    /* Adjust this value as needed to push the element down */
  }

  .brand-text {
    color: #fff;
    margin-top: 15px;
    font-size: 34px;
    display: inline-block;


  }

    #card-update {
        width: 100%; /* Ensure the container takes full width for flexibility */
    }
    
    #card-update {
        width: 50%; /* Half width on larger screens */
        float: right; /* Align the button to the right */
    }

.center {
    max-width: 250px; /* The div won't grow wider than 300px, but can shrink */
    float: none;
    margin: 0 auto;
}

}










.responsive-container {
    display: flex;
    flex-direction: column;
}

.invoice-header, .invoice-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.invoice-field {
    flex: 1;
    text-align: center;
}

.invoice-field.actions {
    flex: 0 0 100px; /* adjust width as needed */
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
