[Unit]
Description=Improbability SMS Assistant
After=network.target

[Service]
# Use Gunicorn to start the Flask app
ExecStart=/usr/bin/gunicorn -b :8000 -w 4 --chdir /opt/improbability/sms_ai_assistant app:app
WorkingDirectory=/opt/improbability/sms_ai_assistant
User=root
Group=root
EnvironmentFile=/etc/improbability/exports
PassEnvironment=GROQ_SECRET_ACCESS_KEY GROQ_API_KEY
Restart=always

[Install]
WantedBy=multi-user.target
